doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="UTF-8")
		script(src="dist/index.js")
		link(rel="stylesheet", href="dist/index.css")
		link(rel="icon", href="assets/favicon.svg")
		link(rel="alternate icon", href="assets/favicon256.png")
		link(rel="apple-touch-icon", href="assets/favicon256.png")
		title Notes graph displayer
	body
		div#graphContainer
			canvas