body
	margin: 0px;
	background-color: #374747;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 5rem;

#graphContainer
	border-radius: 2.5rem;
	overflow: hidden;
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 1rem 0.1rem rgba(0,0,0,0.2);

	canvas
		height: 100%;
		width: 100%;